/* certification.css */
#certificates {
  height: 600px;
}

#certificates h2 {
  position: relative;
  color: rgb(116, 139, 139);
  width: 100%;
  text-align: center;
  margin: 0.5em;
}

#certificates .swiper {
  width: 640px;
  height: 500px;
  padding: 2em;
}

#certificates .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  position: relative;
  overflow: hidden;

}

#certificates .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
  transition: transform 0.3s;
}
#certificates .swiper:hover .swiper-slide{
 background-color: red;
  transform: scale(1.1);
}

#certificates .swiper-slide:hover img {
  border: 3px solid white;
  transform: scale(1.1);
}

#certificates .certificate-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  top: 89%;
  left: 50%;
  width: 100%;
  height: 6em;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgb(47, 48, 48));
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.9s;
  backdrop-filter: blur(2px)

}
#certificates .certificate-info h3{
  color:rgb(20, 123, 155);
  bottom:2px;
  position: relative;
  width: 100%;

}
#certificates .certificate-info p{
  
  position: relative;
  width: 100%;
}


#certificates .swiper-slide:hover .certificate-info {
  opacity: 1;
}

#certificates .swiper-slide:nth-child(1n) {
  border: 3px solid rgb(133, 64, 55);
}

#certificates .swiper-slide:nth-child(2n) {
  border: 3px solid rgb(0, 140, 255);
}

#certificates .swiper-slide:nth-child(3n) {
  border: 3px solid rgb(10, 184, 111);
}

#certificates .swiper-slide:nth-child(4n) {
  border: 3px solid rgb(211, 122, 7);
}

#certificates .swiper-slide:nth-child(5n) {
  border: 3px solid rgb(118, 163, 12);
}

#certificates .swiper-slide:nth-child(6n) {
  border: 3px solid rgb(180, 10, 47);
}

#certificates.swiper-slide:nth-child(7n) {
  border: 3px solid rgb(35, 99, 19);
}
