*{
  margin: 0;
  padding: 0;
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ani-float {
  0% { transform: translate(0,  0px); }
  50% { transform: translate(0, 15px); }
  100% { transform: translate(0, -0px); }    
}

.App{
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: rgb(33, 33, 34);
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.left-section{
  height: 100vh;
  width: 300px;
  background-color: rgb(34, 34, 33);
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
}
.left-section section{
  position: relative;
  width: auto;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 2px 3px rgb(18, 17, 17);
}
.profile{
display: flex;
flex-direction: column;
width: 200px;
height: 30vh;
background-color:black;
justify-content: center;
align-items: center;

}
.profile img{
  position: relative;
  width: 50%;
  height: 60%;
  border-radius: 50%;
}
.profile h3{
  color: rgb(8, 206, 206);
  font-weight: bolder;
  font-family: initial;
  letter-spacing: -1px;
  
}
.profile h5{
  color: aquamarine;
  font-weight: bolder;
  font-family: initial;
  letter-spacing: -1px;
}


.contact-me{
  width: 200px;
  height: 25vh;
  background-color: black;
}
.contact-me h4{
text-align: center;
font-weight: bolder;
font-family:Arial;
letter-spacing: -1px;
color:white

}
.contact-me-a{
  position: relative;
 margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
 
}
.contact-me a{
  position: relative;
  display: flex;
  width: 50px;
  height: 2em;
  justify-content: center;
  align-items: center;
  background: black;
  color: aqua;
  border: 3px solid aqua;
  transition: .6s;
  box-shadow: 0 0 0.3rem aqua;
  z-index:1;
  overflow:hidden;
  margin:5px;
  border-radius:5px;
  font-size: larger;

}
.contact-me a i{
  font-size: 1.5rem;

}
.contact-me a:hover{
  color:black
}
.contact-me a::before{
  content: "";
  position: absolute;
  left:0;
  top:0;
  width: 0%;
  height: 100%;
  background:aqua;
  transition: .6s;
  z-index: -1;
}
.contact-me a:hover::before{
width: 100%;

}



.other{
  width: 200px;
  height: 57vh;
  background-color:black;
}
.other h4{
  text-align: center;
  font-weight: bolder;
  font-family:Arial;
  letter-spacing: -1px;
  color:white
}
.other a {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  font-weight: bolder;
  letter-spacing: -1px;
  color: white;
  background: black;
  border: 3px solid aqua;
  transition: .6s;
  box-shadow: 0 0 0.3rem aqua;
  border-radius: 5px;
  overflow: hidden;
  margin: 9px;
  margin-top: 20px;
  padding: 4px;
  width: 90%;
  background-color:black;
}

.other a:hover {
  color: aqua;
  font-size: larger;
  letter-spacing: -1px;
  text-shadow: 0px 0px 40px aqua;
}

.other a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: aqua;
  transition: .6s;
  z-index: -1;
}

.other a:hover::before {
  width: 100%;
}



.right-section{
  position: relative;
  height: 100vh;
  width: 800px;
  background-color:black;
  border-top-right-radius: 5px;
  overflow-y: auto;
 
}.right-section section{
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 3px rgb(44, 44, 44);
}
.right-section #profile{
position: relative;
display: flex;
flex-direction: column;
justify-items: center;
align-items: center;
height: auto;
margin:5px;
background-color: black;
color: white;
}


#profile .header {
  margin-bottom: 5px;
}

#profile .header h1 {
  text-align: center;
  font-size: 2.5em;
  color:aqua; 
  font-weight: bolder;
  text-shadow: 2px 2px 4px aqua;
  animation: ani-float 3s infinite ease-in-out;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

#profile .imgText {
  position: relative;
  height: auto;
  width: 100%;
  padding: 1em;
  text-align: center;
  margin-top: 5em;

}

.liquid-circular-svg {
  width: 70%;
  height: 100%;
  position: absolute;
  bottom: 0;
  margin-left: -5%;
  text-align: center;
  animation: rotateAnimation 40s linear infinite;

}

#profile img {
  max-width: 100%;
  border-radius: 50%;
  margin-top: -5px; 
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(9, 9, 9, 0), rgba(255, 255, 255, 1));
}

#profile h5 {
  max-width: 600px;
  margin: 20px auto;
  color: #666;
}
#profile .btn-box{
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 45px;
  margin: 20px;
}
#profile .btn-box a.btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: aqua;
  color: black;
  border-radius: 5px;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: -1px;
  transition: .6s;
  box-shadow: 0 0 .5rem aqua;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: 3px solid aqua;
  text-decoration: none;

  
}
#profile a.btn:hover{
color: aqua;

}
#profile a.btn::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background:black;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: .4s;
}
#profile a.btn:hover::before{
  width: 100%;
  height: 100%;
}
#profile a.btn:nth-child(2){
  background-color: black;
  color: aqua;
}
#profile a.btn:nth-child(2):hover{
 color: black;
}
#profile a.btn:nth-child(2)::before{
background: aqua;
}
#about-me{
  color: white;
  margin-top: 5em;
}
#about-me h1{
  text-align: center;
  

}
#about-me p{
  text-align: center;
  padding: 1em;
}

.footer{
  position: relative;
  height: 2.5vh;
  width: 100%;
  text-align: center;
  font-size: 0.6em;
  font-weight: bolder;
  color: white;
  background-color: black;
}

::-webkit-scrollbar{
  display: none;
}




@media only screen and (max-width: 1024px) {
	.App{ height: 100%; }
  .left-section{
    width: 150px;
  }

	.left-section section {
		flex-direction: row;
    flex-wrap: wrap;
		top: 10px;

	}
  .left-section  .profile {
  height: 20vh;
  padding: 10px;

  }
  .left-section  .profile img{
    width: 100px;
  }
  .left-section  .profile h3{
    font-size: small;
    text-align: center;
  }
  .left-section .contact-me{
    height: 18vh;
    padding-bottom: 0.7em;
  }
  .left-section .contact-me h4{
    margin-bottom: 5px;
    font-size: 0.8em;
  }
  .left-section .contact-me-a{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 0.6em;
   

  }
  .left-section .contact-me-a a{
    width: 30%;
    margin: 3px;
    height: 1.5em;
  }
  .left-section .other h4{
    font-size: 0.8em;
  }
  .left-section .other a{
    font-size: 0.8em;
    margin-top: 1em;
  }

  .right-section {
    top: 13px;
    border-radius: 5px;
   
  }

  .right-section #skills{
    height: 135vh;
    padding: 0.5em;
    display: flex;
   
    margin-top: 2em;

  }
  .right-section #skills h5{
    text-align: center;   
    margin: 0;
  }

}



@media only screen and (max-width: 768px) {
  *{
    padding: 1px;

  }
 .App{
  position: relative;
    display: inline-block;
    background-color: rgb(39, 39, 39);
    width: 100%;
    
  
    
  }

  .left-section{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 17vh;
    border-radius: 0;
    padding: 0;
    padding-bottom: 0.5em;
    background-color: rgb(34, 33, 33);
   
    
  }
  .left-section section{
    padding: 0;
    margin-top:-10px;

  }
  .left-section  .profile{
    height: 100%;
    width: 28%;
    padding: 0;
    
  }
  .left-section  .contact-me{
    height: 5vh;
    width: 65%;
  
  }
  .left-section  .contact-me h4{
    display: none;
  }
  .left-section  .contact-me a{
    width: 20%;
    font-size: 0.9em;
    box-shadow: 0 0 0.1rem aqua;
  }
  .left-section  .other{
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   
  }
  .left-section  .other h4{
    width: 100%;
    display: none;
  }
  .left-section  .other a{
    width: 29%;
    letter-spacing: 0;
    font-size: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 0.1rem aqua;
    
  }
  .right-section{
    position: relative;
    width: 100%;
    height: 82vh;
    margin-top:-10px;
  }
	.right-section #profile{
   
   
    height: auto;
    padding: 0.1em;
    padding-bottom: 0.5em;
    
  }
  .right-section #profile h1{
    position: relative;
    font-size: 2em;
    padding: 0.1em;
    
  }
	.right-section #skills{
    height: auto;
  }
  .right-section #profile svg{
    width: 87%;
  }
 #profile .btn-box{
    width: 90%;
    margin: 0;
    
   
  }
 #profile .btn-box a.btn{
    width: 45%;
 letter-spacing: 0;
 font-size: 0.7em;
 padding:1em;
 box-sizing: border-box;
 height: 2em;
 text-align: center;
 
  }
}



