*{
  margin: 0;
}
.skeleton {
  background-color: #2d6464; /* Set a background color for the skeleton */
}

.skeleton-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px; /* Adjust the border-radius as needed */
  padding: 20px;
  margin-bottom: 20px;
}

.skeleton-header {
  width: 100%;
  height: 30px; /* Adjust the height of the header skeleton */
  background-color: rgb(39, 38, 38); /* Set a background color for the header skeleton */
  border-radius: 4px; /* Adjust the border-radius as needed */
  margin-bottom: 10px;
}

.skeleton-content {
  width: 100%;
  height: 20px; /* Adjust the height of the content skeleton */
  background-color: #252424; /* Set a background color for the content skeleton */
  border-radius: 4px; /* Adjust the border-radius as needed */
  margin-bottom: 10px;
}








@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ani-float {
  0% { transform: translate(0,  0px); }
  50% { transform: translate(0, 105px); }
  100% { transform: translate(0, -0px); }    
}

.App{
  padding: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 20px;
 
  background: linear-gradient(-45deg, #000000,#0d2827, #000000);
}
.blur1{
  position:absolute;
  background-color: rgb(37, 86, 83);
  width: 30%;
  height: 50%;
  left: 2%;
  top:2%;
  filter: blur(80px);
 
}
.blur2{
  position:absolute;
  background-color: rgb(37, 86, 83);
  width: 30%;
  height: 50%;
  right: 2%;
  bottom:2%;
  filter: blur(80px);
 
}

.left-section{
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
}
.left-section section{
  position: relative;
  width: auto;
  margin: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  
  
}
.profile{
display: flex;
flex-direction: column;
width: 200px;
height: 30vh;
justify-content: center;
align-items: center;


}
.profile img{
  position: relative;
  width: 90%;
  height: 80%;
  border-radius:2%  2% 0 0;
  box-shadow: 0 0 0.3rem aqua;

}
.profile h3{
  color: rgb(8, 206, 206);
  font-weight: bolder;
  font-family: initial;
  letter-spacing: -1px;
  padding: 5px;
 text-align: center;
  
}


.contact-me{
  width: 200px;
  height: 25vh;
}
.contact-me h4{
text-align: center;
font-weight: bolder;
font-family:Arial;
margin-top: 0.5em;
color:white

}
.contact-me-a{
  
 position: relative;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 padding: 0.5em;
 
}
.contact-me a{
  position: relative;
  display: flex;
  width: 36%;
  height: 1.5em;
  justify-content: center;
  align-items: center;
  color: aqua;
  border: 3px solid aqua;
  transition: .6s;
  box-shadow: 0 0 0.3rem aqua;
  z-index:1;
  border-radius:5px;
  font-size: 2em;
  margin: 0.2em;

}
.contact-me a i{
  font-size: 1.5rem;

}
.contact-me a:hover{
  color:black
}
.contact-me a::before{
  content: "";
  position: absolute;
  left:0;
  top:0;
  width: 0%;
  height: 100%;
  background:aqua;
  transition: .6s;
  z-index: -1;
}
.contact-me a:hover::before{
width: 100%;

}
.toggle-menu{
  display: none;
}



.other{
  width: 200px;
  height: 57vh;
}
.other h4{
  text-align: center;
  font-weight: bolder;
  font-family:Arial;
 margin-top: 0.5em;
  color:white;
 
}
.other a {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  font-weight:lighter;
  letter-spacing: -1px;
  color: white;
  border: 1px solid aqua;
  transition: .6s;
  box-shadow: 0 0 -0.5rem rgb(100, 142, 142);
  border-radius: 5px;
  overflow: hidden;
  margin: 9px;
  margin-top: 20px;
  padding: 4px;
  width: 90%;
}

.other a:hover {
  color: aqua;
  font-size: larger;
  letter-spacing: -1px;
  text-shadow: 0px 0px 40px aqua;
}

.other a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: aqua;
  transition: .6s;
  z-index: -1;
}

.other a:hover::before {
  width: 100%;
}



.right-section{
  position: relative;
  height: 100vh;
  width: 1000px;
  border-top-right-radius: 5px;
  overflow-y: auto;
 
}.right-section section{
  position: relative;
  width: 100%;
  margin-bottom: 2em;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}
.right-section #profile{
position: relative;
display: flex;
flex-direction: column;
justify-items: center;
align-items: center;
height: auto;
margin:5px;
color: white;

}


#profile .header {
  padding-top: 20px;
  width: 100%;
  height: 15vh;
}

#profile .header h1 {
  text-align: center;

  font-size: 2.5em;
  color:aqua; 
  font-weight: bolder;
  text-shadow: 2px 2px 4px aqua;
  animation: ani-float 60s infinite ease-in-out;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

#profile .imgText {
  height: 70vh;
  width: 100%;
  padding: 2em;
  text-align: center;
  margin-top: 2em;

 

}

.liquid-circular-svg {
  width: 60%;
  height: 70%;
  left: 20%;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  animation: rotateAnimation 40s linear infinite;
 
  

}

#profile img {
  max-width: 100%;
  border-radius: 50%;
  width: 65%;
  bottom: 4%;
  position: relative;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgb(119, 119, 119));

}

#profile h5 {
  max-width: 600px;
  margin: 20px auto;
  color: #666;
}
#profile .btn-box{
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 45px;
  margin: 20px;
}
#profile .btn-box a.btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: aqua;
  color: black;
  border-radius: 5px;
  font-weight: 800;
  font-size: 1rem;
  
  transition: .6s;
  box-shadow: 0 0 .5rem aqua;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: 3px solid aqua;
  text-decoration: none;

  
}
#profile a.btn:hover{
color: aqua;

}
#profile a.btn::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background:black;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: .4s;
}
#profile a.btn:hover::before{
  width: 100%;
  height: 100%;
}
#profile a.btn:nth-child(2){
  background-color: black;
  color: aqua;
}
#profile a.btn:nth-child(2):hover{
 color: black;
}
#profile a.btn:nth-child(2)::before{
background: aqua;
}
#about-me{
  color: white;
  margin-top: 5em;
  height: 50vh;
  padding: 8em;
}
#about-me h1{
  text-align: center;
  color: rgb(153, 163, 165);

}
#about-me p{
  text-align: center;
  padding: 1em;
  font-size: larger;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center ;
  position: relative;
  height: 3vh;
  width: 100%;
  text-align: center;
  font-size: 0.6em;
  font-weight: bolder;
  color: rgb(49, 153, 223);
  background-color: black;
  
}

::-webkit-scrollbar{
  display: none;
}




@media only screen and (max-width: 1024px) {
	.App{ height: 100%; }
  .left-section{
    width: 150px;
  }

	.left-section section {
		flex-direction: row;
    flex-wrap: wrap;
		top: 10px;

	}
  .left-section  .profile {
  height: 20vh;
  padding: 10px;

  }
  .left-section  .profile img{
    width: 100px;
  }
  .left-section  .profile h3{
    font-size: small;
    text-align: center;
  }
  .left-section .contact-me{
    height: 18vh;
    padding-bottom: 0.7em;
  }
  .left-section .contact-me h4{
    margin-bottom: 5px;
    font-size: 0.8em;
  }
  .left-section .contact-me-a{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 0.6em;
   

  }
  .left-section .contact-me-a a{
    width: 30%;
    margin: 3px;
    height: 1.5em;
  }
  .left-section .other h4{
    font-size: 0.8em;
  }
  .left-section .other a{
    font-size: 0.8em;
    margin-top: 1em;
  }

  .right-section {
    top: 13px;
    border-radius: 5px;
   
  }

  .right-section #skills{
    height: 135vh;
    padding: 0.5em;
    display: flex;
   
    margin-top: 2em;

  }
  .right-section #skills h5{
    text-align: center;   
    margin: 0;
  }

}



@media only screen and (max-width: 768px) {


  *{
    padding: 1px;
   

  }
 .App{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
   height: 100vh;

   
  
    
  }
  .blur1{
    position:absolute;
    background-color: rgb(77, 204, 196);
    width: 30%;
    height: 50%;
    left: 2%;
    top:2%;
    filter: blur(80px);
   
  }
  .blur2{
    position:absolute;
    background-color: rgb(20, 199, 187);
    width: 30%;
    height: 50%;
    right: 2%;
    bottom:2%;
    filter: blur(80px);
   
  }

  .left-section{
    height: auto;
    width: 100%;
    border-top-left-radius: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius:1px;
    margin-bottom:0.8em;

  }
  .left-section  .profile{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 14%;
  }
  .left-section .profile img{
    height: 5vh;
    width: 50%;
    border-radius: 50%;
   
  }
  .left-section  .contact-me{
    position: relative;
    height: auto;
    width: 40%;   
    height: 3em;

  
  }
  .left-section  .contact-me h4{
    display: none;
  }
  .left-section  .contact-me a{
    width: 20%;
    font-size: 1em;
    box-shadow: 0 0 0.1rem aqua;
  }

  


.menu-header {
  position: relative;
  cursor: pointer;
  height: 3vh;
  width: 100%;
  display: block;
  text-align: center;
  color: white;
}
.menu-items,#toggle-menu {
  display: none;
}
.toggle-menu:checked + .menu-header + .menu-items {
  display: block;
}

.menu-items a {
  padding: 2px;
  width:auto;
  text-decoration: none;
  color: white; 
  display: inline-block;
  margin:1px;
}
.menu-items a:hover {
  background-color: #2e4c50;
  color: white;
 
}



  
  .left-section  .other{
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 10px;
    height: auto;
    width:100%;
    justify-content: center;
    ;
  }
 

  .right-section{
    position: relative;
    width: 100%;
    height:75vh;
    margin-top:-10px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(33, 49, 48);
  }
	.right-section #profile{
   
   
    height: auto;
    padding: 0.1em;
    padding-bottom: 0.5em;
    
  }

  #profile .header h1 {
    text-align: center;
    font-size: 2em;
    color:aqua; 
    font-weight: bolder;
    text-shadow: none;
    animation: ani-float 60s infinite ease-in-out;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
  }
  
  #profile .imgText {
    height: 50vh;
    width: 100%;
    padding: 2em;
    text-align: center;
    margin-top: 2em;
  
   
  
  }
  
  .liquid-circular-svg {
    width: 60%;
    height: 50%;
    left: 9%;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    animation: rotateAnimation 40s linear infinite;
  
  
  }
  
  #profile img {
    max-width: 100%;
    border-radius: 50%;
    width: 100%;
    top: 5%;
    position: relative;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgb(119, 119, 119));
  
  }

  #profile .btn-box a.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: aqua;
    color: black;
    border-radius: 5px;
    font-weight: 800;
    font-size: 1rem;
    transition: .6s;
    box-shadow: 0 0 .5rem aqua;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border: 3px solid aqua;
    text-decoration: none;
  
    
  }
  .right-section #about-me{
    color: white;
    margin-top: 2em;
    height: 35vh;
    padding: 1em;
  }
  
	.right-section #skills{
    height: auto;
  }
  .right-section #profile svg{
    width: 87%;
  }
 #profile .btn-box{
    width: 90%;
    margin: 0;
    
   
  }
 #profile .btn-box a.btn{
    width: 45%;
 letter-spacing: 0;
 font-size: 0.7em;
 padding:1em;
 box-sizing: border-box;
 height: 2em;
 text-align: center;
 
  }
}

.footer{
width: 100%;
}

